#divmain {
background-color:Black;
color: white;

}
#TopList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* formats the list at the topleft */
    overflow: hidden;
    /* prevents the main title from merging with the titlescreen */
    background-color: lightgray;
    /* setting an idle background color, will come back to it later */
}

#topButton {
    float: left;
    /* allows the list to move horizontally */
}

#filler {
    opacity: 0.2;

}

    /* individual buttons specified */
#hyperLink {
    display: block;
    /* displays the buttons as blocks */
    color: white;
    padding: 16px;
    /* seperates the buttons */
    text-decoration: none;
    /* allows me to get rid of hyperlinked underline */
}

    /* When hovering, color changes */
#hyperLink:hover {
    background-color: lightgray;
}
#sub1 {
    position: relative;
    bottom: -20px;
}
#sub1 > img {
    position: relative;
    top: -44px;
}
#div1 {
    position: relative;
    bottom: 20px;
}

#name {
    position: relative;
    bottom: 22px;
    border-style: solid;
    text-align: center;
    background-color: lightgray;
}

#whoamIheader {
    border-style: solid;
    text-align: center;
    background-color: lightgray;
    position: relative;
    bottom: 90px;
}


#portfolioHeader {
    position: relative;
    bottom: 50px;
    border-style: solid;
    text-align: center;
    background-color: lightgray;
}

#contactInfo {
    position: relative;
    bottom: 20px;
    border-style: solid;
    text-align: center;
    background-color: lightgray;

    /* Weird glitch in the contact header, so I shifted it for consistency */
}

/* Try these later on :
    margin-right:100px;
    margin-left:100px;
    allows you to adjust where text is placed by margin
*/

#skills {
    text-align: Left;

}

#div1 {
position: relative;
top: 45px;
background-image: url("iu-5.jpeg");
}

#iu-5.jpeg {
opacity:0.2;
}

#descrip {
    position: relative;
    bottom: 100px;
    margin-left: 400px;
    margin-top: -80px;
    font-size: 30px;
}

#basedImage {
    margin-left: 100px;
}

#traits {
position: relative;
top: -850px;
}
#traitList {
    list-style-type: none;
    position: relative;
    top: -850px;
}

#portfolioHeader {
    position: relative;
    top: 0px;
}
#div2 {
    position: relative;
    top: 50px;

}
#backdrop {
position: relative;
top: -65px;
left: -50px;
opacity: 0.2;
}

#div3 {
position: relative;
top: -770px;
}

#alphabroderlogo {
    margin-left: 100px;
}

#alphabroder {
    position: relative;
    bottom: 200px;
    text-align: right;
    margin-left: 500px;
}
#div4 {
    position: relative;
    top: -850px;
}
#QueensLogo {
    margin-left: 100px;
}

#education {
    position: relative;
    bottom: 200px;
    text-align: right;
    margin-left: 500px;
}

#msgme {
    text-align: right;
}
#connect {
    text-align: right;
}

#viewcode {
    text-align: right;
}

#div5 {
    position: relative;
    Top: -1000px;
}